<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trucho Libre</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <nav>
        <button class="btn-nav" role="button">
            <strong>
                <span>Trucho<br>Libre</span>
            </strong>
        </button>


        <img class="imgUser" src="img/User.svg" alt="">

    </nav>

    <div class="logSquare">
        <div class="formSquare">
                
            <div class="container">
                <div class="inputs">
                
                    <div class="name_input">
                        <label  for="nombre"></label>
                        <input class="nombre" type="text" id="nombre" name="nombre" placeholder="Name" required>
                    </div>
                    <div class="surname_input">
                        <label for="apellido"></label>
                        <input type="text" id="apellido" name="apellido" placeholder="Surname" required>
                    </div>
                    <div class="age_input">
                        <label for="edad"></label>
                        <input type="number" id="edad" name="edad" placeholder="Age" required>
                    </div>
                    <div class="email_input">

                        <label for="email"></label>
                        <input type="email" id="email" name="email" placeholder="E-mail" required>
                    </div>
                    <div class="psw_input">
                        <label for="contrasena"></label>
                        <input type="password" id="contrasena" name="contrasena" placeholder="Password" required>
                    </div>
                    <div class="repeat_pasw_input">
                        <label for="contrasena"></label>
                        <input type="password" id="contrasena" name="contrasena" placeholder="Repeat password" required>
                    </div>
                    <div class="num_input">
                        <label for="numero"></label>
                        <input type="tel" id="numero" name="numero" placeholder="Num" required>
                    </div>
              </div>   
            </div>    
        </div>
    </div>

</body>
</html> 
