<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trucho Libre</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <nav>
        <button class="btn-nav" role="button">
            <span>Trucho<br>Libre</span>
        </button>

        <div class="user">
            <button class="btn-user">
                <img class="imgUser" src="img/User.svg" alt="">
            </button>
        </div>

    </nav>

    <div class="logSquare">
        <div class="formSquare">
            <div class="inputs">
                <input type="email" placeholder="Mail" style="margin-left: 50px;"/>
                <br>
                <input type="password" placeholder="Password" style="margin-left: 50px;"/>
                <button class="btn-login" type="submit">Log In</button>
            </div>
        </div>        
    </div>

</body>
</html>


