<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trucho Libre</title>
    <link rel="stylesheet" href="style.css">
    
</head>

<body>

    <nav>
        <button class="btn-nav" role="button">
            <span>Trucho<br>Libre</span>
        </button>

        <div class="user">
            <button class="btn-user">
                <a href="asd.html">
                    <img class="imgUser" src="img/User.svg" alt="">
                </a>
            </button>
        </div>

    </nav>

    <div class="logSquare">
        <div class="formSquare1">
            <div class="change">
                <button class="btn-change">
                    <a href="">
                        <img src="img/Izquierda.svg" alt="">
                    </a>
                </button>
            </div>
            <div class="textLog">
                <h1>Sign In</h1>
            </div>
            <div class="log-inputs">
                <label for="log-email"></label>
                <input type="log-email" id="log-email" name="log-email" placeholder="Mail"/><br>
                <label for="log-password"></label>
                <input type="log-password" id="log-password" name="log-password" placeholder="Password"/>
                <button class="btn-submit" type="submit">Log In</button>
            </div>
        </div>        
    </div>
</body>
</html>
