@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/FondoBody.png);
    background-size: cover;
}

nav {
    width: 100%;
    height: 125px;
    background-color: #9D6786;
    opacity: 80%;
    position: fixed;
    top: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-nav {
    --b: 4.3px;
    --s: .45em;
    --color: #0F0C1C;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-nav:hover,
.btn-nav:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.btn-nav:active {
    background: var(--color);
    color: #fff;
}

.user {
    display: flex;
    margin-left: 80%;
}

.btn-user {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.imgUser {
    width: auto;
    height: 45px;
}


.logSquare {
    width: 39.07%;
    height: 46.3%;
    background-image: url(img/Fondo.png);
    border-radius: 25px;
    text-align: center;
    
}

.textLog {
    font-family: "Open Sans", sans-serif;
    margin-left: 50%;
}

.formSquare1 {
    width: 100%;
    height: 100%;
    background-color: #E8C8BB;
    opacity: 90%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: auto;
    clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formSquare2 {
    width: 100%;
    height: 100%;
    background-color: #E8C8BB;
    opacity: 90%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: auto;
    clip-path: polygon(0% 0%, 50% 0%, 75% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.log-inputs {
    text-align: left;
    margin-top: 6%;
    margin-left: 20%;
    width: 52%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 58%;
}

.reg-inputs{
    text-align: left;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 10px;
    flex-wrap: wrap;
    
}

.reg-inputs label {
    margin-bottom: 5px;
}

input{
    display: block;
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 60%;
    background: #ecf0f3;
    padding: 4%;
    padding-left: 8%;
    height: 45px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 7px 7px 7px #cbced1, inset -7px -7px 7px white;
}

input::placeholder {
    color: gray;
}

button.btn-submit {
    color: white;
    margin-top: 6%;
    background: #91279c;
    opacity: 80;
    height: 20%;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    width: 45%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}


